process{
executor="sge"
}

env {
BASEPATH="/data/backup/metacaller/stage/analysis"
HOMEPATH="${BASEPATH}/mason_version_1.0_normal"
ANNPATH="${HOMEPATH}/control/ANNwrapper.sh"
CALPATH="${HOMEPATH}/control/CALwrapper.sh"
CONCORDANCEPATH="${HOMEPATH}/control/concordancewrapper.sh"
ANALYSISPATH="${HOMEPATH}/control/analysiswrapper.sh"
TRUEANALYSISPATH="${HOMEPATH}/slave/analyse_input.py"
ANNOTATEPATH="${HOMEPATH}/slave/annotate_input.sh"
BAYESPATH="${HOMEPATH}/control/bayesian_input.py"
TRUEANNPATH="${HOMEPATH}/slave/ANNgeneratematrixes.py"
FALSEANNPATH="${HOMEPATH}/slave/ANNgeneratematrixes_for_roc.py"
GENERATEANNPATH="${HOMEPATH}/slave/ANNgenerateresults.py"
TRUECONCORDANCEPATH="${HOMEPATH}/slave/CreateConcordance.py"
VCFFILTERPATH="${HOMEPATH}/tools/vcffilter"
NXF_OPTS="-Xmx6G -XX:MaxPermSize=1G -XX:+UseCompressedOops"
}
